.home {
  background-size: cover !important;
  min-height: 100%;
}

h1 {
  font-family: 'CiutadellaW04-Bold', BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
